@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito_Sans/static/NunitoSans_10pt-Black.ttf")format('truetype'),
        url("./converted-fonts/NunitoSans_7pt_Condensed-Black.woff2") format('woff2');
}

:root {

    --accent: hsl(56, 100%, 61%);
    --borde: hsl(270, 100%, 94%);
    --primary: hsl(263, 40%, 50%);
    --activo: hsl(263, 73%, 20%);
    --sombra: hsl(263, 50%, 63%);
    --texto: hsl(263, 16%, 63%);
    --titulos: hsl(263, 10%, 23%);
    --fondo: hsl(0, 0%, 98%);
    --fontPrimary: "Roboto Serif";
    --fontSecundary: "Nunito";

}

html {
    height: 100%;
}

body {
    background-color: var(--fondo);
    justify-content: space-between;
    flex-direction: column;
    min-height: 100%;
    display:flex;
    flex-grow: 1;

}

header {
    text-align: center;
    padding: 1%;
    background-color: var(--primary);
}



main {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px;



}

@media(max-width: 768px) {
    main {
        display: block;

    }

}

h1 {
    font-family: var(--fontPrimary), serif;
    font-size: 35px;
    font-weight: bolder;
    font-style: normal;
    color: var(--accent);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
}

nav li {
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    font-size: 16px;
    display: block;
    margin: 0;
    color: var(--accent);
    padding: 10px;
    border: 1px solid var(--borde);
    background-color: var(--sombra);
    text-decoration: none;
    font-family: var(--fontSecundary), sans-serif;


}

nav a:hover {
    background-color: var(--activo)
}


section {
    margin-bottom: 60px;
    border: 1px solid var(--borde);
    padding: 30px;
    border-radius: 20px;
    margin-right: 4%;
    box-shadow: 10px 5px 5px var(--sombra);
    flex-grow: 1;


}

section h2 {
    font-family: var(--fontPrimary), serif;
    margin-top: 1%;
    font-size: 25px;
    color: var(--titulos);
}

section p {
    font-size: 20px;
    color: var(--texto);
    margin-bottom: 5%;
    margin-top: 0;
    font-family: var(--fontSecundary), sans-serif;

}

footer {
    background-color: var(--primary);
    text-align: center;
    color: var(--accent);
    padding: 0.1%;
    width: 100%;
    position: relative;
    bottom: 0;
    flex-shrink: 0;
}